/* You can customize theme styles here */

.btn > i {
	margin-right: 1em;
}

.navbar {
	font-size: 1em;
}

.header .navbar-brand {
	margin: 0 10px 0 30px;
	font-size: 1em;
}

li,
.section li {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

ul {
  margin-bottom: 2rem;
  padding-left: 0.5rem;
}

@media (min-width: 375px) {
	.navbar {
		font-size: 1.25em;
	}

	.header .navbar-brand {
		margin: 0 10px 0 40px;
	}
}

@media (min-width: 992px) {
	.header .navbar-brand {
		margin: 0 10px 0 0;
	}
}

.navbar-toggler {
	padding-left: 0;
}

.navbar-brand-icon img {
	width: 3em;
}

.footer__right > a > img {
    max-width: 60px;
}

.container.article {
    min-height: 75vh;
}

.row.platform-links {
    font-size: 1.2em;
    letter-spacing: 0.5em;
}

.row.platform-links i {
    color: #000000;
}

@media (min-width: 768px) {
  .img-clip-left-backward .carousel-control-prev,
  .img-clip-left-forward .carousel-control-prev {
    margin-left: 30px;
  }
  .img-clip-right-backward .carousel-control-next,
  .img-clip-right-forward .carousel-control-next {
    margin-right: 30px;
  }
}
