{{ if .Site.Data.homepage.client_and_work.enable }}
<section id="{{ .Site.Data.homepage.client_and_work.id }}" class="section section--border-bottom">
  <div class="container">
    {{ if .Site.Data.homepage.client_and_work.title }}
    <h2 class=" rad-animation-group rad-fade-down">
      {{ .Site.Data.homepage.client_and_work.title }}
    </h2>
    {{ end }}
    {{ if .Site.Data.homepage.client_and_work.clients }}
    <div class="row row--padded rad-animation-group rad-fade-down">
      <div class="col-12">
        <div class="clients">
          {{ range .Site.Data.homepage.client_and_work.clients }}
          <div class="clients__item">
            <a href="https://radity.com">
              <img
                class="lozad img-responsive"
                src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                data-src="{{ .logo.x | absURL }}"
                data-srcset="{{ .logo.x | absURL }} 1x, {{ .logo._2x | absURL }} 2x"
                alt="{{ .alt }}"
              />
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
    {{ range $index, $element := .Site.Data.homepage.client_and_work.works }}
    <div
      class="row row--padded rad-animation-group rad-fade-down {{ if .is_even }}flex-column-reverse flex-md-row{{ end }}"
    >
      {{ if .is_even }}
      <div class="col-12 col-md-5 mt-4 mt-md-0 my-md-auto">
        <h3>{{ .title }}</h3>
        <p class="lead">
          {{ .description | safeHTML }}
        </p>
        {{ if .button }}
        <a href="{{ .button.URL }}" class="btn btn-primary"
          >{{ .button.btnText }}<i class="{{ .button.icon }}"></i
        ></a>
        {{ end }}
      </div>
      <div class="col-12 col-md-7 pl-md-0 text-right">
        {{ if .image }}
        <img
          class='lozad img-responsive {{ cond (eq ( mod $index 4) 0) "img-clip-left-backward" "img-clip-left-forward" }}'
          src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
          data-src="{{ .image.x | absURL }}"
          data-srcset="{{ .image.x | absURL }} 1x, {{ .image._2x | absURL }} 2x"
          alt="{{ .title }}"
          />
        {{ end }}
        {{ if .images }}
        <div id="carousel-{{ $index }}" data-ride="carousel" class='carousel slide {{ cond (eq ( mod $index 4) 0) "img-clip-left-backward" "img-clip-left-forward" }}'
            >
            <div class="carousel-inner">
              {{ range $imageIndex, $slide := .images }}
              <div class='carousel-item {{ cond (eq ( mod $imageIndex 4) 0) "active" "" }}'>
                <img
                  class="lozad img-responsive d-block w-100"
                  src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                  data-src="{{ $slide.x | absURL }}"
                  data-srcset="{{ $slide.x | absURL }} 1x, {{ $slide._2x | absURL }} 2x"
                  alt="{{ .title }}"
                  />
              </div>
              {{ end }}
            </div>
            <a class="carousel-control-prev" href="#carousel-{{ $index }}" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-{{ $index }}" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        {{ end }}
      </div>
      {{ else }}
      <div class="col-12 col-md-7 pl-md-0 text-right">
        {{ if .image }}
        <img
          class='lozad img-responsive {{ cond (eq ( mod $index 4) 1)  "img-clip-right-backward" "img-clip-right-forward" }}'
          src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
          data-src="{{ .image.x | absURL }}"
          data-srcset="{{ .image.x | absURL }} 1x, {{ .image._2x | absURL }} 2x"
          alt="{{ .title }}"
        />
        {{ end }}

        {{ if .images }}
        <div id="carousel-{{ $index }}" data-ride="carousel" class='carousel slide {{ cond (eq ( mod $index 4) 1) "img-clip-right-backward" "img-clip-right-forward" }}'
            >
            <div class="carousel-inner">
              {{ range $imageIndex, $slide := .images }}
              <div class='carousel-item {{ cond (eq ( mod $imageIndex 4) 0) "active" "" }}'>
                <img
                  class="lozad img-responsive d-block w-100"
                  src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                  data-src="{{ $slide.x | absURL }}"
                  data-srcset="{{ $slide.x | absURL }} 1x, {{ $slide._2x | absURL }} 2x"
                  alt="{{ .title }}"
                  />
              </div>
              {{ end }}
            </div>
            <a class="carousel-control-prev" href="#carousel-{{ $index }}" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-{{ $index }}" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        {{ end }}
      </div>
      <div class="col-12 col-md-5 mt-4 mt-md-0 my-md-auto">
        <h3>{{ .title }}</h3>
        <p class="lead">
          {{ .description | safeHTML }}
        </p>
        {{ if .button }}
        <a href="{{ .button.URL }}" class="btn btn-primary"
          >{{ .button.btnText }}<i class="{{ .button.icon }}"></i
        ></a>
        {{ end }}
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
